# Copyright (c) nice!nano community
# SPDX-License-Identifier: Apache-2.0

config BOARD_NICE_NANO_NRF52840
	select SOC_NRF52840_QIAA

# nRF52840 has an integrated BT controller — no external UART HCI needed
choice BT_HCI_BUS_TYPE
	default BT_NO_DRIVER if BT
endchoice
